.ava {
    width: 3.5rem;
    height: 3.5rem;
}
.red-dot::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    right: -0.7rem;
    transform: translateY(-50%);
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--red-500);
    border-radius: 50%;
}
.notifications-box {
    max-width: 45rem;
    margin: 5rem;
}
.username:hover,
.action:hover {
    color: var(--blue-950);
}
.private-msg:hover {
    background-color: var(--blue-100);
}
.chess-img {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.chess-img:hover {
    outline: 2px solid var(--blue-100);
}

@media (max-width: 500px) {
    .notifications-box {
        width: 100%;
        height: 100%;
        margin: 0;
    }
    .ava {
        width: 2.5rem;
        height: 2.5rem;
    }
}