@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    /* Colors */
    /* Primary */
    --red-500: #f65351ff;
    --blue-950: #1848a0;

    /* Neutral */
    --white: #ffffffff;
    --navy-50: #f7fafdff;
    --blue-100: #e5effaff;
    --navy-100: #dde7eeff;
    --gray-500: #939daeff;
    --gray-600: #5e6778ff;
    --navy-950: #1c202bff;

    /* Weights */
    --font-w-500: 500;
    --font-w-800: 800;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Flex */

.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.align-i-center {
    align-items: center;
}
.just-c-sb {
    justify-content: space-between;
}

/* Gaps */

.gap-05r {
    gap: 0.5rem;
}
.gap-1r {
    gap: 1rem;
}
.gap-2r {
    gap: 2rem;
}

/* Colors */

.color-blue-950 {
    color: var(--blue-950);
}
.color-w {
    color: var(--white);
}
.color-gray-500 {
    color: var(--gray-500);
}
.color-gray-600 {
    color: var(--gray-600);
}
.color-navy-950 {
    color: var(--navy-950);
}

/* Background Colors */

.bg-w {
    background-color: var(--white);
}
.bg-red-500 {
    background-color: var(--red-500);
}
.bg-blue-100 {
    background-color: var(--blue-100);
}
.bg-navy-100 {
    background-color: var(--navy-100);
}
.bg-blue-950 {
    background-color: var(--blue-950);
}

/* Typography */

.font-w-500 {
    font-weight: var(--font-w-500);
}
.font-w-800 {
    font-weight: var(--font-w-800);
}

.line-height-1-7 {
    line-height: 1.7;
}

/* Paddings */

.pad-0-07r {
    padding: 0 0.7rem;
}
.pad-1r {
    padding: 1rem;
}
.pad-2r {
    padding: 2rem;
}

/* Positions */

.pos-r {
    position: relative;
}

/* Others */

.cursor-p {
    cursor: pointer;
}

.bor-rad-10 {
    border-radius: 10px;
}
.bor-rad-5 {
    border-radius: 5px;
}
.bor-1-s-gray-500 {
    border: 1px solid var(--gray-500);
}
.tr-a-03s-ea {
    transition: all 0.3s ease;
}

/* ---------- ---------- */

body {
    background-color: var(--navy-50);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

@media (max-width: 500px) {
    h4, h2 {
        font-size: 1rem;
    }
    p, span {
        font-size: 0.9rem;
    }
    .pad-1r {
        padding: 0.7rem;
    }
    .pad-2r {
        padding: 1.5rem;
    }
    .pad-0-07r {
        padding: 0 0.3rem;
    }
}

